body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.skills-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #1e293b;
    border-radius: 5px;
}

.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
